# Archivos generados por Jekyll (legacy)
_site/
.jekyll-cache/

# Dependencias de Ruby
Gemfile.lock

# Dependencias de Node
node_modules/

# Archivos temporales o de respaldo
*.swp
*.swo
*~

# Otros archivos de configuración de editores (opcional)
.vscode/
